body{
    margin: 0;
    padding: 0;
    font-size: 13 px;
    font-family: Arial, Helvetica, sans-serif;
}

header{

    width: 100%;
    height: 50px;
}


header nav{

    display: flex; /*cómo se puede mover el elemento*/
    justify-content:flex-end;

}

header nav .nav-right-section{

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

nav .nav-right-section a{
    color: rgb(21, 21, 21);
    text-decoration: none;
    margin-right: 20px;

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 40px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
}


main{
    text-align: center;
    margin-top: 160px;
}
/* sección logo*/
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px ; 
}

/* logo google*/
main .main-logo img{
    height: 150px;
}

/*seccion input*/
main .main-input{
   
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-input-container{
    
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    width: 525px;
    display: flex; /*Componentes flexibles y se muevan*/
    justify-content: center;
    align-items: center;
}

main .main-input input{
    height: 40px;
    width: 500px;
    border: none;
    outline: none;
    
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px; /*Tamaño del icono*/
    height: 15px;
    background-size: contain;
    padding-left: 6%;
    background-repeat:no-repeat ;
    
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    background-size: contain ;
    background-position: center;
    padding-left: 1%;
    background-repeat:no-repeat ;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    padding-right: 6% ;
}


main .main-buttons{
    width: 550px;
    margin: 0 auto;

}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color:#f8f9fa;
    font-size: 14px;
    color:#3c4043 ;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
}


main .main-input-container :hover{
    box-shadow: 10px 10px 5px #20212447;
}

main .main-buttons button :hover{
    color:#202124;
    border: 1px solid 
}